@media only screen{


    body {
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
        color: red;
      
    }

    header, footer {
        text-align: center;
        background-color: whitesmoke;
        padding: 10px 0;
        background-color: whitesmoke;
    }
    
    .arco{
    
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    }
    .arco div{
        background-color: var(--color);
        width: fit-content;
    }
    .arco div:nth-child(1){
    --color: #ff0000;
    color: white;
    transform: translateX(0);
    }
    .arco div:nth-child(2){
    --color: #ff7f00;
    color: white;
    transform: translateX(10%);
    }
    .arco div:nth-child(3){
    --color: #ffff00;
    color: black;
    transform: translateX(30%);
    }
    .arco div:nth-child(4){
    --color: #00ff00;
    color: black;
    transform: translateX(50%);
    }
    .arco div:nth-child(5){
    --color: #0000ff;
    color: white;
    transform: translateX(70%);
    }
    .arco div:nth-child(6){
    --color: #4b0082;
    color: white;
    transform: translateX(90%);
    }
    .arco div:nth-child(7){
    --color: #8b00ff;
    color: white;
    transform: translateX(110%);
    }
    
    

    header .content {
        z-index: 10;
    }

    header {
        height: 150px;
        z-index: 10;
        position: relative;
    }
    #junto{
        justify-content: initial;
        
    }
    section {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }

    section div {
        flex-basis: 30%;
        margin: 10px;
        text-align: center;
    }

    .Rick {
        width: 100%;
        height: auto;
        border-radius: 10px;
        mix-blend-mode: multiply;
    }

    footer {
        margin-top: 20px;
    }
}